extends template

block title
  title GroundworkCSS &hearts;

block content
  .container
    .padded
      h2.zero Example Rapid Prototypes and Usage Examples
      p.small (An introduction to how things can be done.)
    .row
      .one.small-tablet.fourth.two-up-small-tablet.padded
        a(href='./layout-a.html')
          h5.asphalt.message.align-center
            img(src='../images/layout-5.gif')
            .small.green.button Web Site Layout
      .one.small-tablet.fourth.two-up-small-tablet.padded
        a(href='./layout-b.html')
          h5.asphalt.message.align-center
            img(src='../images/layout-6.gif')
            .small.green.button Image Gallery
      .one.small-tablet.fourth.two-up-small-tablet.padded
        a(href='./layout-c.html')
          h5.asphalt.message.align-center
            img(src='../images/layout-7.gif')
            .small.green.button Ecommerce
      .one.small-tablet.fourth.two-up-small-tablet.padded
        a(href='./grid.html')
          h5.info.message.align-center
            img.round(src='../images/kitchen-sink.gif')
            .small.green.button Usage Examples
