mixin nav-structure
  ul
    li
      a Nav Item
    li.menu
      a Nav Menu Item
      ul
        li
          a Menu Item
        li
          a Sub Menu
          ul
            li
              a Sub Menu Item
            li
              a Sub Menu Item
        li
          a Menu Item
    li
      a Nav Item

extends template

block title
  title GroundworkCSS &hearts; Navigation

block content
  .container
    .pad-left.pad-right
      h1.zero Navigation Bar
      p Standard responsive navigation bar.
    .row
      .one.whole.padded
        nav.nav
          +nav-structure()
    .row
      .one.third.padded
        nav.nav.yellow
          +nav-structure()
      .one.third.padded
        nav.nav.orange
          +nav-structure()
      .one.third.padded
        nav.nav.red
          +nav-structure()
    .row
      .one.third.padded
        nav.nav.pink
          +nav-structure()
      .one.third.padded
        nav.nav.purple
          +nav-structure()
      .one.third.padded
        nav.nav.asphalt
          +nav-structure()
    .row
      .one.third.padded
        nav.nav.blue
          +nav-structure()
      .one.third.padded
        nav.nav.turquoise
          +nav-structure()
      .one.third.padded
        nav.nav.green
          +nav-structure()
