!!! 5
html
  head
    link(rel='stylesheet', href='css/test.css')
  body
    h1 Semantic Grid Implementations
    article
      section
        h1 Two thirds
      aside
        h1 One third
    h3 Small Tablet Grid Helper
    article
      section.small-tablet
        h1 Two small-tablet thirds
      aside.small-tablet
        h1 One small-tablet third
    h3 Mobile Grid Helper
    article
      section.mobile
        h1 Two mobile thirds
      aside.mobile
        h1 One mobile third
    h1 Grid Adapters
    h3 Mobile Grid Adapter
    .row
      .one.fourth.two-up-mobile One fourth to two-up on mobile
      .one.fourth.two-up-mobile One fourth to two-up on mobile
      .one.fourth.two-up-mobile One fourth to two-up on mobile
      .one.fourth.two-up-mobile One fourth to two-up on mobile
    h3 Small Tablet Grid Adapter
    .row
      .one.fourth.two-up-small-tablet One fourth to two-up on small tablets
      .one.fourth.two-up-small-tablet One fourth to two-up on small tablets
      .one.fourth.two-up-small-tablet One fourth to two-up on small tablets
      .one.fourth.two-up-small-tablet One fourth to two-up on small tablets
    h3 Mobile & Small Tablet Adapters
    .row
      .one.eighth.four-up-small-tablet.two-up-mobile One eighth to four-up on small tablets and two-up on mobile
      .one.eighth.four-up-small-tablet.two-up-mobile One eighth to four-up on small tablets and two-up on mobile
      .one.eighth.four-up-small-tablet.two-up-mobile One eighth to four-up on small tablets and two-up on mobile
      .one.eighth.four-up-small-tablet.two-up-mobile One eighth to four-up on small tablets and two-up on mobile
      .one.eighth.four-up-small-tablet.two-up-mobile One eighth to four-up on small tablets and two-up on mobile
      .one.eighth.four-up-small-tablet.two-up-mobile One eighth to four-up on small tablets and two-up on mobile
      .one.eighth.four-up-small-tablet.two-up-mobile One eighth to four-up on small tablets and two-up on mobile
      .one.eighth.four-up-small-tablet.two-up-mobile One eighth to four-up on small tablets and two-up on mobile
