extends template

block title
  title GroundworkCSS &hearts; UI Elements

block content
  .container
    .pad-left.pad-right
      h1.zero UI Elements
      p Common UI elements that provide user feedback or call users to take action.
    .row
      .one.whole.padded
        .row
          .one.half.padded
            h4 Message Boxes
            p.message This is an important message.
            p.dismissible.message This is a dismissible message.
            p.info.message This is an info message.
            p.info.dismissible.message This is an info message.
            p.success.message This is a success message.
            p.success.dismissible.message This is a success message.
            p.alert.message This is an alert message.
            p.alert.dismissible.message This is an alert message.
            p.warning.message This is a warning message.
            p.warning.dismissible.message This is a warning message.
            p.error.message This is an error message.
            p.error.dismissible.message This is an error message.
            br
            h4 Square
            p.message.square This is a square message.
            p.message.square.dismissible This is a dismissible square message.
            h4 Round
            p.message.round.align-center This is a round message.
            p.message.round.dismissible.align-center This is a dismissible round message.
          .one.half.padded
            h4 Colors
            p.yellow.message This is a dismissible yellow message.
            p.dismissible.yellow.message This is a dismissible yellow message.
            p.orange.message This is an dismissible orange message.
            p.dismissible.orange.message This is an dismissible orange message.
            p.red.message This is a dismissible red message.
            p.dismissible.red.message This is a dismissible red message.
            p.pink.message This is a dismissible pink message.
            p.dismissible.pink.message This is a dismissible pink message.
            p.purple.message This is a dismissible purple message.
            p.dismissible.purple.message This is a dismissible purple message.
            p.asphalt.message This is an dismissible asphalt message.
            p.dismissible.asphalt.message This is an dismissible asphalt message.
            p.blue.message This is a dismissible blue message.
            p.dismissible.blue.message This is a dismissible blue message.
            p.turquoise.message This is a dismissible turquoise message.
            p.dismissible.turquoise.message This is a dismissible turquoise message.
            p.green.message This is a dismissible green message.
            p.dismissible.green.message This is a dismissible green message.
