$root_path: '../../';
@import "../../../src/scss/core/all";
@import "../../../src/scss/base/all";

@import "demo";


$spacers: padded pad-top pad-right pad-bottom pad-left 
          gapped gap-top gap-right gap-bottom gap-left;
$modifiers: double triple;

@for $i from 1 through length($spacers) {
  .extend-#{nth($spacers, $i)} {
    @extend %#{nth($spacers, $i)};
    @for $i from 1 through length($modifiers) {
      &.extend-#{nth($modifiers, $i)} { @extend %#{nth($modifiers, $i)}; }
    }
  }
}


// manual @include testing since interpolated mixin/function calls are not yet supported
.include-clear, 
.include-clearfix           { @include _clear;}

.include-padded             { @include _padded; }
.include-padded-double      { @include _padded(2); }
.include-padded-triple      { @include _padded(3); }

.include-pad-top            { @include _pad-top; }
.include-pad-top-double     { @include _pad-top(2); }
.include-pad-top-triple     { @include _pad-top(3); }

.include-pad-right          { @include _pad-right; }
.include-pad-right-double   { @include _pad-right(2); }
.include-pad-right-triple   { @include _pad-right(3); }

.include-pad-bottom         { @include _pad-bottom; }
.include-pad-bottom-double  { @include _pad-bottom(2); }
.include-pad-bottom-triple  { @include _pad-bottom(3); }

.include-pad-left           { @include _pad-left; }
.include-pad-left-double    { @include _pad-left(2); }
.include-pad-left-triple    { @include _pad-left(3); }

.include-gapped             { @include _gapped; }
.include-gapped-double      { @include _gapped(2); }
.include-gapped-triple      { @include _gapped(3); }

.include-gap-top            { @include _gap-top; }
.include-gap-top-double     { @include _gap-top(2); }
.include-gap-top-triple     { @include _gap-top(3); }
                   
.include-gap-right          { @include _gap-right; }
.include-gap-right-double   { @include _gap-right(2); }
.include-gap-right-triple   { @include _gap-right(3); }
                   
.include-gap-bottom         { @include _gap-bottom; }
.include-gap-bottom-double  { @include _gap-bottom(2); }
.include-gap-bottom-triple  { @include _gap-bottom(3); }
                   
.include-gap-left           { @include _gap-left; }
.include-gap-left-double    { @include _gap-left(2); }
.include-gap-left-triple    { @include _gap-left(3); }
